body {
  overflow: hidden;
}

h1 {
  font-family: var(--ifm-heading-font-family);
  color: #ffffff;
  font-size: 4.25rem;

  @media (max-width: 997px) {
    font-size: 2.8rem;
  }
}

h2 {
  color: #f5f5f5;
  font-family: var(--ifm-heading-font-family);
  font-size: 2.25rem;
  font-weight: 400;
}

h4 {
  color: #f5f5f5;
  font-family: var(--ifm-heading-font-family);
  font-size: 1.875rem;
}

p {
  color: #fff;
  font-size: 1rem;
}

.section {
  padding: 7rem 5rem;

  @media (max-width: 997px) {
    padding: 5rem 2rem;
  }
}

.sectionContainer {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
}

.ctaButton {
  border-radius: 5rem;
  background: var(--ifm-color-secondary);
  color: var(--ifm-color-primary);
  text-align: center;
  font-family: var(--ifm-font-family-base);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.75rem;
}

.presentationSection {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  row-gap: 3rem;

  .presentationSectionItem {
    max-width: 20rem;

    > h4 {
      margin: 2rem 0;
    }
  }

  .presentationSectionItemDark {
    > h4, > p {
      color: var(--ifm-color-primary-dark);
    }
  }

  @media (max-width: 997px) {
    flex-direction: column;
    align-items: center;

    .presentationSectionItem {
      max-width: 25rem;

       > h4 {
         margin: 1rem 0;
       }
    }
  }
}

.darkSvg > path {
  fill: var(--ifm-color-primary-dark);
}

/** Banner section */
.heroBanner {
  background-color: var(--ifm-color-primary);

  .heroBannerWrapper {
    gap: 2rem;
    max-width: 90rem;

    @media (max-width: 997px) {
      flex-direction: column-reverse;
    }

    > div {
      flex: 1 1 0;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .verticalStack {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;

      > * {
        width: 100%;
      }

      .heroSubtitle {
        font-size: 1.375rem;
      }

      .learnMore {
        background: var(--ifm-color-secondary);
        color: var(--ifm-color-primary);
      }
    }
  }

}


/** whatIs section */
.whatIs {
  background: #302d3d;

  .whatIsWrapper {
    flex-direction: column;
    gap: 5rem;
    text-align: center;
  }
}


/** ReadyToLearn section */
.readyToLearn {
  background: #fdc022;

  .readyToLearnWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;

    .leftColumn {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .getStarted {
        background: var(--ifm-color-primary-dark);
        color: #fff;
      }

      .learnTitle {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        > h1 {
          color: var(--ifm-color-primary-dark);
        }

        > svg {
          height: 69px;
          width: 74px;

          > path {
            fill: var(--ifm-color-primary-dark);
          }

          @media (min-width: 997px) {
            display: none;
          }
        }
      }

      > p {
        color: var(--ifm-color-primary-dark);
        font-size: 1.5rem;
      }
    }

    .rightColumn {
      @media (max-width: 997px) {
        display: none;
      }
    }
  }
}


/** BatteriesIncluded section */
.batteriesIncluded {
  background: var(--ifm-color-primary);

  .batteriesIncludedWrapper {
    flex-direction: column;
    gap: 5rem;

    .titleWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 2.5rem;

      > h1 {
        margin: 0;
        text-align: center;
      }
    }

    .batteriesIncludedItems {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 2rem;
      row-gap: 5rem;

      .batteriesIncludedItem {
        max-width: 16rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        > h4 {
          font-size: 1.875rem;
          margin: 1.125rem;
        }

        > p {
          font-weight: 600;
        }
      }

      @media (max-width: 997px) {
        justify-content: space-evenly;
        row-gap: 2rem;
      }
    }
  }
}


/** Get in touch section */
.getInTouch {
  background-color: var(--ifm-color-secondary);

  .getInTouchWrapper {
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    .getInTouchTitles {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;

      > h1 {
        color: var(--ifm-color-primary-dark);
        margin: 0;
      }

      .getInTouchSubtitle {
        color: var(--ifm-color-primary-dark);
        max-width: 30rem;
      }
    }

    .ctaButton {
      color: #fff;
      background: var(--ifm-color-primary-dark);
    }
  }
}


/* Used By section */
.usedBy {
  background-color: var(--ifm-color-primary-dark);

  .usedByWrapper {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .usedByLogos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 5rem;

    @media (max-width: 997px) {
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
    }
  }
}

/* Footer section */
.footer {
  background: var(--ifm-navbar-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem;
  gap: 2rem;

  @media (max-width: 997px) {
    flex-direction: column;
  }

  > p {
    text-align: center;
    font-size: 0.875rem;
    max-width: 27rem;
    margin-bottom: 0;

    > a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     > div {
       color: #f5f5f5;
       font-size: 0.875rem;
     }
  }
}
